@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", Serif;
    background-color: darkgrey;
    color: white;
}

#branding{
    text-align: center;
    font-family: "Montserrat", Serif;
}

header{
    text-align: center;
    background-color: white;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer{
    text-align: center;
    background-color: white;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}