<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassIO - About Us</title>
</head>
<body>
    <header>
        <h1>About PassIO!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="/about">About Us</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Learn More About Us</h2>
            <p>DThe devs...</p>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
