<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="../static/assets/images/favicon.png">
  <title>Edit Event</title>
  <meta name="description" content="Edit event on PassIO">
  <meta name="keywords" content="Events, purchase, ticket, PassIO">
{% include 'cssdependencies.html' %}
</head>

<body class="text-center">
  {% include 'navbar.html' %}
  <div class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1 class="display-4 mt-3">Edit Event</h1>
      <form action="/update_event" method="post" class="needs-validation" novalidate="">
        <input type="hidden" name="event_id" value="{{ event._id }}">
        <div class="mb-3">
          <label for="eventName">Name</label>
          <input type="text" class="form-control" id="eventName" name="name" value="{{ event.name }}" required>
        </div>
        <div class="mb-3">
          <label for="eventLocation">Location</label>
          <input type="text" class="form-control" id="eventLocation" name="location" value="{{ event.location }}" required>
        </div>
        <div class="mb-3">
          <label for="eventArtist">Artist</label>
          <input type="text" class="form-control" id="eventArtist" name="artist" value="{{ event.artist }}" required>
        </div>
        <div class="mb-3">
          <label for="eventGenre">Genre</label>
          <input type="text" class="form-control" id="eventGenre" name="genre" value="{{ event.genre }}" required>
        </div>
        <div class="mb-3">
          <label for="eventDescription">Description</label>
          <textarea class="form-control" id="eventDescription" name="description" required>{{ event.description }}</textarea>
        </div>
        <!-- New fields for event date and number of tickets -->
        <div class="mb-3">
          <label for="date">Event Date</label>
          <input type="date" class="form-control" id="date" name="date" value="{{ event.date }}" required>
        </div>
        <div class="mb-3">
          <label for="eventTickets">Number of Tickets</label>
          <input type="number" class="form-control" id="eventTickets" name="num_tickets" value="{{ event.num_tickets }}" min="1" required>
        </div>
        <div class="mb-3">
          <label for="price">Price of Tickets</label>
          <input type="number" class="form-control" id="price" name="price" value="{{ event.price }}" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Event</button>
      </form>
  </div>
  {% include 'footer.html' %}
</body>

</html>