<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="../static/assets/images/favicon.png">
  <title>PassIO</title>
  <meta name="description" content="Events available to purchase tickets for on PassIO">
  <meta name="keywords" content="Events, purchase, ticket, PassIO">
{% include 'cssdependencies.html' %}
</head>

<body class="text-center">
  <!-- Navbar -->
  {% include 'navbar.html' %}
  <!-- Cover -->
  <div class="d-flex align-items-center section-fade-in-out" style="background-image: url(../static/assets/conference/cover.jpg);">
    <div class="container">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <div class="row">
        <div class="col-12 mt-3">
          <h1 class="display-4">Events</h1>
          <!-- Iterate over the events in the database using Jinja2 for loop. events was passed in as a variable. -->
    {% for event in events %}
      <hr>
        <div class="event">
          <div style="text-align: center;">
            <h2>{{ event.name }}</h2>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Description:</strong> {{ event.description }}</p>
            <p><strong>Artist:</strong> {{ event.artist }}</p>
            <p><strong>Genre:</strong> {{ event.genre }}</p>
            <a href="/checkout?event_id={{event._id}}&amp;numTickets=1">Purchase Tickets<a>
            {% if CurrentUser.special_key == 'host' %}
              <div class="mt-2">
              <a href="{{ url_for('editevent', id=event._id) }}" class="btn btn-primary">Edit</a>
              </div>
            {% endif %}
        </div>
       </div>
      <hr>
    {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>

</html>