<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassIO - Events</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section>
            <h2>Here are our events</h2>
            <p>Buy tickets here</p>
        </section>
    </main>
    {{confirm}}
        <form action="/events_create" method = "post">
            <label for="e_name">Event name:</label><br>
            <input type="text" id="e_name" name="e_name" value=""><br>
            <label for="e_location">Event Location:</label><br>
            <input type="text" id="e_location" name="e_location" value=""><br><br>
            <label for="e_genre">Event Genre:</label><br>
            <input type="text" id="e_genre" name="e_genre" value=""><br><br>
            <label for="e_artist">Event Artist:</label><br>
            <input type="text" id="e_artist" name="e_artist" value=""><br><br>
            <label for="e_description">Event Description:</label><br>
            <input type="text" id="e_description" name="e_description" value=""><br><br>
            <button type="submit" value="Submit"> Submit </button>
        </form>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
