<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="../static/assets/conference/favicon.png">
  <title>Event Entry</title>
  <meta name="description" content="Enter new event in PassIO">
  <meta name="keywords" content="Event entry PassIO">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="../static/neon.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="../static/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="../static/js/animate-in.js"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
{% include 'navbar.html' %}
  <!-- Cover -->
<div class="d-flex align-items-center section-fade-in-out" style="background-image: url(../static/assets/conference/cover.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <h1 class="display-4">Create Event</h1>
          <form action="/events_submit" method="post" class="needs-validation" novalidate="">
            <div class="mb-3">
              <label for="e_name">Event name:</label>
              <input type="text" class="form-control" id="e_name" name="e_name" required="">
            </div>
            <div class="mb-3">
              <label for="e_location">Event Location:</label>
              <input type="text" class="form-control" id="e_location" name="e_location" required="">
            </div>
            <div class="mb-3">
              <label for="e_genre">Event Genre:</label>
              <input type="text" class="form-control" id="e_genre" name="e_genre" required="">
            </div>
            <div class="mb-3">
              <label for="e_artist">Event Artist:</label>
              <input type="text" class="form-control" id="e_artist" name="e_artist" required="">
            </div>
            <div class="mb-3">
              <label for="e_description">Event Description:</label>
              <textarea class="form-control" id="e_description" name="e_description" required=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in a same page -->
  <script src="../static/js/smooth-scroll.js"></script>
</body>

</html>