<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassIO - Events</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section>
            <h2>Here are our events</h2>
            <p>Buy tickets here</p>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
