<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="../static/assets/images/favicon.png">
    <title>Event Details</title>
    <meta name="keywords" content="Details of the event selected from home page">
    {% include 'cssdependencies.html' %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>

<body class="text-center">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Events -->
    <div class="py-5" id="speakers">
        <div class="container">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row">
                <!-- Go back butto  -->
                <button onclick="goBack()" class="gback-button">
                    <i class="fa-solid fa-chevron-left"></i> Go Back
                </button>
                <div class="everything-container">
                    <!-- include img-fluid in class attribute if you want original image size -->
                    <div class="img-container">
                        <img src="../static/assets/images/image{{ event.event_id }}.jpg"
                            class="center-block my-3 shadowed" width="100%" height="100%">
                    </div>
                    <div class="details-container">
                        <h1 class="mb-0" style="color: yellow;"><b>{{ event.name }}</b></h1>
                        <p>{{ event.artist }}</p>
                        <p>{{ event.description }}</p>
                        <p>{{ event.location }}</p>
                        <p>{{ event.genre }}</p>
                        <p>{{ event.event_date }}</p>
                        <p style="color: aquamarine;">${{ "%.2f"|format(event.ticket_price) }}</p>
                        <a href="/add_to_cart?event_id={{ event._id }}&num_tickets=1" class="btn btn-primary">Add Ticket to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    {% include 'footer.html' %}
</body>

</html>