<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassIO - Events</title>
</head>
<body>
    <header>
        <h1>PassIO Events!</h1>
        <nav>
            <a href="/home">Home</a>
            <a href="/events">Events</a>
            <a href="/about">About Us</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Here are our events</h2>
            <p>Buy tickets here</p>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
