<footer class="text-center p-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="my-3 col-12 col-md-8 col-lg-8">
        <h3>Follow</h3>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-3x fa-instagram text-muted m-2"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
        <a href="https://plus.google.com" target="_blank"><i class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
        <a href="https://pinterest.com" target="_blank"><i class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
      </div>
    </div>
  </div>
</footer>