<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassIO - Your Event Ticketing Solution</title>
</head>
{% include 'header.html' %}
<body>
    <main>
        <section>
            <h2>Events</h2>
            <a href="/loginandregister">Log in or register here</a>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
{% include 'footer.html' %}
</body>
</html>
