<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="../static/assets/conference/favicon.png">
    <title>Customer Profile</title>
    <meta name="description" content="Write description here.">
    <meta name="keywords" content="Write keywords here.">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="../static/neon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <!-- Script: Make my navbar transparent when the document is scrolled to top -->
    <script src="../static/js/navbar-ontop.js"></script>
    <!-- Script: Animated entrance -->
    <script src="../static/js/animate-in.js"></script>
</head>

<body class="text-center">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Active Events Section -->
    {% if CurrentUser.special_key == "host" %}
    <div class="py-2">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3>My Events</h3>
                    {% for event in host_events %}
                    {% if not event['cancelled'] %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col align-items-center">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>
                                    <div class="form-container" style="display: flex;gap: 10px;justify-content: center;">
                                        <form action="/edit_event" method="post">
                                            <input type="hidden" name="event_id" value="{{ event._id }}">
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </form>
                                        <form action="/cancel_event" method="post">
                                            <input type="hidden" name="event_id" value="{{ event._id }}">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-2">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3>Cancelled Events</h3>
                    {% for event in host_events %}
                    {% if event['cancelled'] %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col align-items-center">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'footer.html' %}
    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Script: Smooth scrolling between anchors in a same page -->
    <script src="../static/js/smooth-scroll.js"></script>
</body>

</html>