<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>PassIO</title>
  <meta name="description" content="Find your next night out here">
  <meta name="keywords" content="PassIO, concert, show, go out, event">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="neon.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav" style="">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#speakers">Account</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#schedule">Checkout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-1 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-0">
          <h1 class="display-2" style="">PassIO<br></h1>
          <h1 class="display-4">Find your next night out here</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Events in your area</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Cover -->
  <!-- Intro section -->
  <div class="py-2" >
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg"> </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <div class="py-5" id="speakers">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Events you might like</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_2.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Matthew Jong</b></h3>
            <p class="text-muted">DJ</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_1.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Anna da Vinci</b></h3>
            <p class="text-muted">Singer/Songwriter</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_3.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Michael Philips</b></h3>
            <p class="text-muted">Guitarist</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_4.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Emily Wang</b></h3>
            <p class="text-muted">Singer/Songwriter</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_5.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>John Morgan</b></h3>
            <p class="text-muted">Singer/Songwriter</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/people_6.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Giona Potter</b></h3>
            <p class="text-muted">Guitarist</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-fade-in-out" id="schedule" style="background-image: url(assets/conference/live.jpg);">
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h1>Schedule</h1>
        </div>
      </div>
      <div class="row text-left">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card shadowed">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 1</h2>
              <p class="lead">Prototype</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap for UX</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-secondary"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch break</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Best practices</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Editing workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card shadowed">
            <div class="card-block text-center card-primary p-2">
              <h2>Day 2</h2>
              <p class="lead">Design</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Guest speech</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Mobile design</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>UI trends</b></li>
              <li class="list-group-item bg-secondary"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b class="">Lunch break</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Discussion</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4">
          <div class="card shadowed">
            <div class="card-block text-center p-2">
              <h2>Day 3</h2>
              <p class="lead">Publish</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Intro to WBN</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Publishing</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Implementation</b></li>
              <li class="list-group-item bg-secondary"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch break</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Farewell</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <!-- Call to action -->
  <div class="py-5 section section-fade-in-out" id="register" style="background-image: url(assets/conference/action.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-left">
          <h1 class="mb-3">Registrations are open</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp; <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>
        <div class="col-md-4 align-self-center">
          <a href="#" class="btn btn-lg btn-dark shadowed">Register now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="text-md-left text-center p-4">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-6">
          <h3>PassIO</h3>
          <p class="text-muted" contenteditable="true"></p>
          <p class="my-3">
            <a href="https://goo.gl/maps/ayn28vkB5F92" target="blank" class="text-muted">Empire State building 350 5th Ave, <br>New York, NY 10118</a>
          </p>
          <a class="btn btn-lg btn-primary shadowed" href="#">Register now</a>
        </div>
        <div class="my-3 col-lg-4 col-md-6">
          <h3>Contact us</h3>
          <form>
            <fieldset class="form-group my-3">
              <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
            <fieldset class="form-group my-3">
              <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        </div>
        <div class="col-lg-1"> </div>
        <div class="my-3 col-lg-3">
          <h3>Follow</h3>
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram text-muted m-2"></i></a>
          <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
          <a href="https://plus.google.com" target="blank"><i class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
          <a href="https://pinterest.com" target="blank"><i class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
          <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in a same page -->
  <script src="js/smooth-scroll.js"></script>
</body>

</html>