<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Log In &amp; Registration</title>
  <meta name="description" content="Hmmmmmmmmm">
  <meta name="keywords" content="Log in">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="neon.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <!--<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item mx-2" >
            <a class="nav-link" href="#speakers">Speakers</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#schedule">Schedule</a>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 btn-outline-primary" href="#register">Register now</a>
      </div>
    </div>
  </nav>-->
  <!-- Log in -->
  <!--<div class="py-5" id="Log In">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-12">-->
            <h1 style="">Log In</h1>
              <form action="/login" method="post">
                <label for="email">Email address</label> 
                <input type="email" id="lemail" name="lemail" class="form-control" placeholder="Enter email" required="required">
                <label>Password</label> 
                <input type="password" id="lpassword" name="lpassword" class="form-control" placeholder="Password" required="required">
                <label>Admin / Host Key</label> 
                <input type="password" id="lhostadminkey" name="lhostadminkey" class="form-control" placeholder="Only for hosts and admins">
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              {{loginStatus}}
              <br>
              {{loginIssue}}
              <br>
        <!--</div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- Register -->
  <!--<div class="py-5" id="Registration">
    <div class="container">
      <div class="row">
        <div class="col-md-12">-->
          <h1>No Account? Sign Up</h1>
          <form action="/register" method="post">
            <label>Email address</label> 
            <input type="email" id="remail" name="remail" class="form-control" placeholder="Enter email" required="required">
            <label>Name</label> 
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" required="required">
            <label>Password</label> 
            <input type="password" id="rpassword" name="rpassword"class="form-control" placeholder="Password" required="required">
            <label>Admin / Host Key</label>
            <input type="password" id="rhostadminkey" name="rhostadminkey" class="form-control" placeholder="Only for hosts and admins">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {{regConfirmText}}
        <!--</div>
      </div>
    </div>
  </div>-->
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
  <!-- Script: Smooth scrolling between anchors in a same page -->
  <script src="js/smooth-scroll.js" style=""></script>
</body>

</html>