<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="../static/assets/images/favicon.png">
    <title>My Events</title>
    <meta name="description" content="All events that a host is hosting.">
    <meta name="keywords" content="PassIO, host, event.">
{% include 'cssdependencies.html' %}
</head>

<body class="text-center">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Active Events Section -->
    {% if CurrentUser.special_key == "host" %}
    <div class="py-2">
        <div class="container">
            <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <h1 class="display-4 mt-3">My Events</h1>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h2>Active Events</h2>
                    {% for event in host_events %}
                    {% if not event['cancelled'] %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col align-items-center">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>
                                    <div class="form-container"
                                        style="display: flex;gap: 10px;justify-content: center;">
                                        <form action="/editevent" method="post">
                                            <input type="hidden" name="event_id" value="{{ event._id }}">
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </form>
                                        <form action="/cancel_event" method="post">
                                            <input type="hidden" name="event_id" value="{{ event._id }}">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <br>
                    <p>No active events.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- cancelled events -->
    <div class="py-2">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h2>Cancelled Events</h2>
                    {% for event in host_events %}
                    {% if event['cancelled'] %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col align-items-center">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">{{ event.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <br>
                    <p>No cancelled events.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'footer.html' %}
</body>

</html>