@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

header {
    font-family: 'Rubik', sans-serif;
    background: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70px;
    border-bottom: gold 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header #branding h1 {
    margin: 0;
    -webkit-text-stroke: 1px gold;
    color: black;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

header nav {
    float: right;
    margin-top: 10px;
}

.button {
    background-color: gold;
    color: black;
    border: none;
    padding: 8px 12px; 
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background: #333333;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}